h2 {
color: #7b84b3;
}

body{
    margin: 0;
    background-color: #c9cee6;
}

/*navigation bar styling*/
nav {
    overflow: hidden;
    background-color: #191b27;    
    margin-bottom: 5vh;
}

nav img{
    height: 30px;
    width: 30px;
}

/*style the menu items when screen is larger than 650 px*/
.navBar a, .navBar a:visited {
    color: #fff3ec;  
    font-size: 1em;
    height: 4vh;
    padding: 15px;
    float: left;
}

/* Change the color of links on hover */
.menuItems a:hover {
    background-color: #ddd;
    color: black;
  }

nav .title{
    text-align: left;
    font-size: 1.5em;
}

.navBar .menuItems{
	float:right;
}


/* 
width is LESS than 600px
user did not click the menu button
remove the menu items and show the menu icon
*/

@media screen and (max-width: 650px) {
    .navBar  a.menuItem{
        /*visibility: hidden;*/
        display: none;
        /*height: 0px;
        width: 0px;
        padding: 0px 0px 0px 0px;*/
    }
    .navBar .menuIcon{
        float: right;
        display: block;
        visibility: visible;
    }
}


/*
 width is LESS than 600px
 the user clicks the menu button
 align the menu items under the icon and to the right
*/
@media screen and (max-width: 650px) {
    .navBar.responsive {
        position: relative;
    }
    .navBar.responsive .menuIcon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navBar.responsive a {
        text-align: right;
        float: none;
        display: block;
    }

    .navBar.responsive a.title {
        text-align: left;
    }

}

/*
width is more than 650 px
show the menu items
hide the menu icon
*/
@media screen and (min-width: 650px) {
    .menuIcon {
        display: none;
    }

}