h2 {
color: #7b84b3;
}

body{
    margin: 0;
    background-color: #c9cee6;
}

/*navigation bar styling*/
nav {
    overflow: hidden;
    background-color: #191b27;    
    margin-bottom: 5vh;
}

nav img{
    height: 30px;
    width: 30px;
}

/*style the menu items when screen is larger than 650 px*/
.navBar a, .navBar a:visited {
    color: #fff3ec;  
    font-size: 1em;
    height: 4vh;
    padding: 15px;
    float: left;
}

/* Change the color of links on hover */
.menuItems a:hover {
    background-color: #ddd;
    color: black;
  }

nav .title{
    text-align: left;
    font-size: 1.5em;
}

.navBar .menuItems{
	float:right;
}