body{
    margin: 0;
    background-color: #c9cee6;
    color: #1c1927;
}

/*Resume styling*/

.resume, .resume a{
    border-radius: 25px;
    background-color: #272238;   
    color:#fff3ec;
    padding: 1%;
    width: 90%;
    margin: auto;
    border: 1px solid #1c1927;
}

.title-center{
    margin: auto;
    text-align: center;
}

.institution {
display: flex;
justify-content: space-between;
}
.inst_name {
text-align: left;
}
.inst_location, .inst_dept {
text-align: right;
}
.inst_dept{
font-size: 100%;
}

.position {
display: flex;
justify-content: space-between;
}
.pos_title {
text-align: left;
}
.pos_responsibility{
text-align: left;
}
.pos_dates {
text-align: right;
font-size: 100%;
}


/*navigation bar styling*/
nav {
    overflow: hidden;
    /*background-color: #191b27;*/
    margin-bottom: 5vh;
}

nav img{
    height: 30px;
    width: 30px;
}

/*style the menu items when screen is larger than 650 px*/
.navBar a {
    /*color: #1c1927;  */
    font-size: 1em;
    height: 4vh;
    padding: 15px;
    float: left;
}

nav .title{
    text-align: left;
    font-size: 2em;
}

.navBar .menuItems{
	float:right;
}

/*link styling when hover*/
.navBar .menuItem:hover,  .navBar .menuIcon:hover{
    background-color: #ffffff;
    opacity: 50%;
    color: #1c1927;
}

/*initially do not display the menu item as text */
.navBar .menuIcon, .navBar a#menuItemText{
    display: none;
}

/*this occurs if the width is LESS than 600px
remove the menu items and show the menu icon
*/

@media screen and (max-width: 650px) {
    .navBar  a.menuItem{
        /*visibility: hidden;*/
        display: none;
        /*height: 0px;
        width: 0px;
        padding: 0px 0px 0px 0px;*/
    }
    .navBar .menuIcon{
        float: right;
        display: block;
        visibility: visible;
    }
}


/*
this occurs if the width is LESS than 600px
and when the user clicks the menu button
show the linked in item as text and remove the icon
align the menu items under the icon and to the right
*/
@media screen and (max-width: 650px) {
    .navBar.responsive {
        position: relative;
    }
    .navBar.responsive .menuIcon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navBar.responsive a {
        text-align: right;
        float: none;
        display: block;
    }

    .navBar.responsive a.title {
        text-align: left;
    }

    .navBar.responsive a#menuItemIcon{
        display: none;

    }

    .navBar.responsive #menuItemText{
        display: block; 
    }

}


/*
this occurs if the width is MORE than 600px
and when the user clicks the menu button
*/
@media screen and (min-width: 650px) {

    /*if the user expands the window after clicking the menu icon*/
    .navBar.responsive #menuItemIcon{
        display: block;
    }
    .navBar.responsive #menuItemText{
        display: none;
    }
}



/*about me page styling*/

.flex-container {
  display: flex;
  margin: auto;
  width: 80%;
}

.flex-container > div{
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    height: 100%;
    width: 90%;
    /*overflow: scroll;*/
}

.flex-container > img {
    height: 100%;
    width: 50%;
}


.flex-container a{
    color: #1c1927;
}